<!-- Footer Start -->
<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Ijtimoiy Tarmoqlar</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mr-4 mb-2" href="#"><i class="fab fa-twitter me-2 mr-2"></i>Twitter</a>
                    <a class="text-white-50 mr-4 mb-2" href="#"><i class="fab fa-facebook-f me-2"></i>Facebook</a>
                    <a class="text-white-50 mr-4 mb-2" href="#"><i class="fab fa-youtube me-2"></i>Youtube</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fab fa-instagram me-2"></i>Instagram</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fab fa-telegram me-2"></i>Telegram</a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Tezkor Havolalar</h3>
                
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Bosh sahifa</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Olimpiada haqida</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Nizomlar</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Testlar</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Natijalar</a>
                    <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Bog'lanish</a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h3 class="text-white mb-4">Bizning Manzil</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Samarqand vil Urgut tumani Vag'ashti MFY 13-uy</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+998973950070</p>
                <p><i class="fa fa-envelope mr-2"></i>samduuf@samduuf.uz</p>
            </div>
            
            
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0">Copyright &copy; <a class="text-white" href="#">olymp.samduuf.uz</a>. All Rights Reserved.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <p class="m-0">Designed by <a class="text-white" href="https://t.me/hacktivist_07">Eldor Karimov</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->