{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center my-5 py-5">
        {% if messages %}
        {% for mess in messages %}
        {% if 'error' in mess.tags %}
        <div class="alert alert-danger" role="alert">
            {{ mess }}
        </div>		  
        {% elif 'success' in mess.tags %}
        <div class="alert alert-success" role="alert">
            {{ mess }}
        </div>	
        {% endif %}
        {% endfor %}
        {% endif %}
        <h1 class="text-white mt-4 mb-4">
            SamDUUF Iqtidorli talabalarning
            ilmiy-tadqiqot faoliyatini tashkil etish bo'limi
        </h1>
        <h1 class="text-white display-1 mb-5">Online Olimpiada</h1>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <h1 class="text-danger">
                    Sayt test rejimida ishlayapti
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-fluid py-5" id="about_system">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Olimpiada haqida</h6>
                    <h5 class="display-4" style="font-size: 20px;">
                        
                    </h5>
                </div>
                <p>
                    Ushbu tizim Sharof Rashidov nomidagi Samarqand davlat universiteti Urgut filiali talabalarini Xalqaro va Respublika miqyosida o‘tkaziladigan fan olimpiadalari hamda Prezident va nomdor stipendiyalarga mazmunli tayyorlash uchun talabalarni saralab olish maqsadida tayyorlangan.
                </p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white">Ro'xatdan<span class="d-block">O'tganlar</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">50</h1>
                            <h6 class="text-uppercase text-white">Test<span class="d-block">Yechganlar</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1000</h1>
                            <h6 class="text-uppercase text-white">Umumiy<span class="d-block">Testlar</span></h6>
                        </div>
                    </div>
                    <!-- <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-image" style="margin: 90px 0;" id="regulations">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Olimpiada Nizomlari</h6>
                </div>
                <h5 class="display-4" style="font-size: 20px;">
                    SAMАRQАND DАVLАT UNIVERSITETI URGUT FILIALIDA ONLАYN FАN OLIMPIАDАSI O‘TKАZISH TАRTIBI
                </h5>
                <p class="mb-4 pb-2">
                    1.	Onlayn fan olimpiadasi 28-dekabrdan 6- yanvar kuniga qadar o‘tkazilsin.
                    2.	Onlayn tarzda tashkil etiladigan talabalar fan olimpiadasining saralash bosqichi o‘tkaziladigan fan yo‘nalishlari hamda vaqti 1-ilovada keltirilgan jadvalga muofiq bo‘lib o‘tadi.
                    3.	Onlayn fan olimpiada test shaklida bo‘lib o‘tadi.
                    4.	Olimpiada ishtirokchilariga qatnashadigan fan yo‘nalishi bo‘yicha 30 tadan test beriladi hamda testni yechish uchun 30 daqiq vaqt beriladi.
                    5.	Olimpiada topshiriqlariga berilgan to‘g‘ri javoblar soniga hamda sarflangan vaqt miqdoriga qarab to‘plagan balllar ketma ketligi bo‘yicha 1,2,3-o‘rinlar elektron tarzda belgilanadi.
                    6.	Olimpiadada g‘olib bo‘lgan talabalarga quydagi keltirilgan pul mukofotlari bilan moddiy rag‘batlantiriladi.
                    <br>
                </p>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa-solid fa-2x fa-1 text-white"></i>
                        <!-- <i class="fa fa-2x fa-graduation-cap text-white"></i> -->
                    </div>
                    <div class="mt-n1">
                        <h4>1-o‘rin</h4>
                        <p>500 000 so‘m(besh yuz ming so‘m)</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa-solid fa-2x fa-2 text-white"></i>
                        <!-- <i class="fa fa-2x fa-certificate text-white"></i> -->
                    </div>
                    <div class="mt-n1">
                        <h4>2-o‘rin</h4>
                        <p>300 000 so‘m(uch yuz ming so‘m)</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa-solid fa-2x fa-3 text-white"></i>
                        <!-- <i class="fa fa-2x fa-book-reader text-white"></i> -->
                    </div>
                    <div class="mt-n1">
                        <h4>3-o‘rin</h4>
                        <p class="m-0">200 000 so‘m(ikki yuz ming so‘m)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/why_choose_us.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->


<!-- Courses Start -->
<div class="container-fluid px-0 py-5" id="tests">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Olimpiada uchun testlar</h6>
                <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
            </div>
        </div>
    </div>
    <div class="owl-carousel courses-carousel">
        {% for quiz in quizzes %}
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{{ quiz.image.url }}" alt="IMAGE">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">{{ quiz.name }}</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>{{ quiz.author}} </span>
                        <span class="text-white"><i class="fa fa-star mr-2"></i></small></span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'quiz_detail' quiz.slug %}">Testga o'tish</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Courses End -->





<!-- Contact Start -->
<div class="container-fluid py-5" id="contact">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Bizning manzil</h4>
                            <p class="m-0">Samarqand vil Urgut tumani Vag'ashti MFY 13-uy</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-phone-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Telefon</h4>
                            <p class="m-0">+998973950072</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-envelope text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Email</h4>
                            <p class="m-0">samduuf@samduuf.uz</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Yordam kerakmi?</h6>
                    <h1 class="display-4">Bizga Xabar Yuboring</h1>
                </div>
                <div class="contact-form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 form-group">
                                <!-- <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" required="required"> -->
                                {% render_field form.full_name class+="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="F.I.SH" required="required" %}
                                
                            </div>
                            <div class="col-6 form-group">
                                <!-- <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Email" required="required"> -->
                                {% render_field form.phone type="text" class+="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Telefon raqam" required="required" %}
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Subject" required="required"> -->
                            {% render_field form.subject type="text" class+="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Mavzu" required="required" %}
                        </div>
                        <div class="form-group">
                            <!-- <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea> -->
                            {% render_field form.message class+="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required" %}
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit">Yuborish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}